.splashtext {
	margin-top: 55vh;
	padding: 5vh 5vw;
	background-color: rgba(0, 0, 0, 0.2);
}

.splashtext>p {
	color: white;
	font-size: 5rem;
	line-height: 6vh;
}

.content {
	padding: 11vh 10vw 3vh;
	background: #000;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 7%);
	color: white;
}