div.page-404 {
	display: flex;

	justify-content: center;

	flex: 2;
}

div.page-404b {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.not-found {
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 1rem;
	font-size: 6rem;
}